body {
  margin:0;
}
.contenedor{
  margin:50px;
}
.descripcion{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  align-content: center;
}

.fotoperfil {
  display: inline-block;
  position: relative;
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 4px;
  margin-left: 20px;
}
.fotoperfil img {
  width: auto;
  height: 100%;
}

dt {
  font-size: 15px;
  font-weight: bold;
}
